.profile__info-header-btn {
    background-image: url("../../../images/profile/editbutton.svg");
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 625px) {
    .profile__info-header-btn {
        width: 18px;
        height: 18px;
    }
}