.cards__item-trash {
    background: none;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url('../../../images/cards/trash.svg');
    background-size: cover;
    cursor: pointer;
}