.cards__item-info-btn {
    background: none;
    border: none;
    background-image: url("../../../images/cards/like.svg");
    background-position: center;
    background-size: cover;
    width: 22px;
    height: 19px;
    cursor: pointer;
    margin-bottom: 3px;
}

.cards__item-info-btn:hover {
    opacity: 0.5;
}