.profile__info {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .profile__info {
    flex-direction: column;
    margin-bottom: 26px;
  }
}