.popup__container-btn {
    width: 100%;
    padding: 14px 125px 18px;
    border: 0;
    border-radius: 2px;
    font-size: 18px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    max-height: 50px;
}

.popup__container-btn:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 625px) {
    .popup__container-btn {
        font-size: 14px;
        padding: 14px 82px;
    }
}